/* Adding color to the document, so it can change the color of every font in one spot */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
}

body {
    background-color: #d9dcd6;
}
/* Removed '.' from all the header classes because of an update in my html file */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Has no function and doesn't change when I comment it out. */
/* header h1 .seo { 
    color: #d9dcd6;
 }  */

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Added 'img' to connect it to the appropriate html element */
.hero img{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    /*background-image: url("../images/digital-marketing-meeting.jpg");*/
    background-size: 30%;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Changed to main from .content */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    /*All the h3 elements have the same css, so I'm just going to combine them into one css element*/
    margin-bottom: 32px;
}

/*.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}*/

/* All of the h3 elements have the same css, so I'm just going to combine them into one css element */
aside h3 {
    margin-top: 25px;
    text-align: center;
}
/*.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}*/

/*All the benefits img elements have the same css applied to them*/
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}*/

/* All of the section tags for the boxes fall under the element 'main' we can create css for main */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
}

/*.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}*/

/* All of the img tags fall under the same main tag.  Going to create one css that reaches all of the img */
main img {
    max-height: 200px;
}

/*.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}*/

/*All of the h2 tags fall under the same section.  Going to create one css that applies to them all  */
main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}*/

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
}

/* Not necessary.  We can just change the heading element to an appropriate size instead of adding a css and a font-size to make it smaller */
/*.footer h2 {
    font-size: 20px;
}*/
